@import "/src/index.scss";

.landing-section {
  display: flex;
  background-image: url("../../assets/svg/Background.svg");
  background-size: 70% auto;
  background-repeat: no-repeat;
  background-position: center right;

  .container {
    display: flex;
    align-items: center;

    .switch {
      position: relative;
      bottom: 7.2rem;
      left: 2%;
      width: 12px;
      height: 40px;
      z-index: 10;

      input {
        opacity: 0;
        width: 12px;
      }

      .slider,
      .slider2 {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 0.4s;

        &:before {
          position: absolute;
          content: "";
          height: 12px;
          width: 12px;
          background: #c6007e;
          transition: 0.4s;
        }
      }

      input:checked + .slider:before {
        transform: translateY(32px);
        -webkit-transform: translateY(32px);
        -moz-transform: translateY(32px);
        -ms-transform: translateY(32px);
        -o-transform: translateY(32px);
      }
      .slider.round,
      .slider2.round {
        border-radius: 34px;
      }

      .slider.round:before,
      .slider2.round:before {
        border-radius: 50%;
      }

      .slider {
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 0%,
          #01bedb 100%
        );
      }

      .slider2 {
        background: linear-gradient(
          180deg,
          #01bedb 0%,
          rgba(255, 255, 255, 0) 100%
        );
      }
    }

    .main-content {
      max-width: 100%;
      max-height: 416px;
      overflow-y: scroll;
      scroll-behavior: smooth;
      padding-left: 60px;
      margin-right: 100px;

      &::-webkit-scrollbar {
        width: 0.5em;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: transparent;
      }

      .somos,
      .desarrollos {
        width: 100%;
        padding: 40px 0;

        p {
          text-align: justify;
          font-size: $small-font-size;
          width: 90%;
          margin-top: 30px;
        }
        img {
          width: 140px;
          height: 36px;
          margin-top: 30px;
        }
      }

      .desarrollos {
        .apps {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          place-items: center;

          .image {
            width: 100px;
            height: 100px;
            margin-bottom: 3rem;
            margin-right: 1rem;

            img {
              width: 100%;
              height: 100%;
            }

            .hover-text,
            .hover-text2,
            .hover-text3,
            .hover-text4,
            .hover-text5 {
              position: absolute;
              width: 100px;
              height: 100px;
              background-color: $container-color;
              border-radius: 20px;
              top: 1088px;
              opacity: 0;
              visibility: hidden;
              transition: 0.5s;

              p {
                text-align: justify;
                font-size: $smaller-font-size;
                width: 100%;
                color: $title-color;
                margin: 0;
                opacity: 0;
              }

              .stick {
                position: absolute;
                width: 4px;
                height: 40px;
                left: 0;
                top: -5px;
                background-color: $container-color;
                border-radius: 10px;
                visibility: hidden;
              }
            }

            &:hover {
              .hover-text,
              .hover-text2,
              .hover-text3,
              .hover-text4,
              .hover-text5 {
                position: absolute;
                width: 320px;
                height: 236px;
                padding: 55px 35px;
                opacity: 1;
                visibility: visible;
                display: block;
                top: 1200px;
                left: auto;
                margin-left: 50px;
              }

              .stick {
                visibility: visible;
              }

              p {
                display: block;
                opacity: 1;
              }
            }
          }
        }
      }
    }

    .phone-content {
      .balloon {
        position: relative;
        width: 403px;
        background-color: $container-color;
        border-radius: 35px;
        padding: 2rem;
        top: 80px;

        p {
          font-size: $small-font-size;
          color: $title-color;
        }
      }

      img {
        width: 367px;
        height: 420px;
      }

      .small-balloon1,
      .small-balloon2,
      .small-balloon3,
      .small-balloon4 {
        background-color: $container-color;
        border-radius: 35px;
        opacity: 0;
      }

      .small-balloon1.no-animation,
      .small-balloon2.no-animation,
      .small-balloon3.no-animation,
      .small-balloon4.no-animation {
        animation: none !important; /* Evita que se ejecute la animación */
        -webkit-animation: none !important; /* Para navegadores que necesitan el prefijo -webkit- */
      }

      .small-balloon1 {
        width: 90px;
        height: 50px;
        position: relative;
        right: 80px;
        top: 90px;
        animation: fadeIn 1s 4s forwards, fadeOut 1s 5s forwards;
        -webkit-animation: fadeIn 1s 4s forwards, fadeOut 1s 5s forwards;
      }

      .small-balloon2 {
        width: 60px;
        height: 33px;
        position: relative;
        right: 120px;
        top: 110px;
        animation: fadeIn 1s 3s forwards, fadeOut 1s 6s forwards;
        -webkit-animation: fadeIn 1s 3s forwards, fadeOut 1s 6s forwards;
      }

      .small-balloon3 {
        width: 60px;
        height: 33px;
        position: relative;
        right: 120px;
        top: 130px;
        animation: fadeIn 1s 2s forwards, fadeOut 1s 7s forwards;
        -webkit-animation: fadeIn 1s 2s forwards, fadeOut 1s 7s forwards;
      }
      .small-balloon4 {
        width: 35px;
        height: 20px;
        position: relative;
        right: 38px;
        top: 150px;
        animation: fadeIn 1s 1s forwards, fadeOut 1s 8s forwards;
        -webkit-animation: fadeIn 1s 1s forwards, fadeOut 1s 8s forwards;
      }

      @keyframes fadeIn {
        to {
          opacity: 1;
        }
      }

      @keyframes fadeOut {
        to {
          opacity: 0;
        }
      }
    }
  }

  /* breakpoints*/
  /*+extra large*/
  @media only screen and (max-width: 1450px) {
    .container {
      .main-content {
        .somos,
        .desarrollos {
          width: 100%;
          padding: 40px 0;

          p {
            width: 90%;
            margin-top: 30px;
          }
          img {
            width: 160px;
            height: 36px;
            margin-top: 30px;
          }
        }

        .desarrollos {
          .apps {
            .image {
              .hover-text,
              .hover-text2,
              .hover-text3,
              .hover-text4,
              .hover-text5 {
                top: 1288px;
              }

              &:hover {
                .hover-text,
                .hover-text2,
                .hover-text3,
                .hover-text4,
                .hover-text5 {
                  width: 300px;
                  height: 236px;
                  padding: 35px 25px;
                  top: 1410px;
                }
              }
            }
          }
        }
      }
    }
  }

  // /*extra large*/
  // @media only screen and (max-width: 1200px) {
  //   .container {
  //     .main-content {
  //       max-width: 500px;
  //       max-height: 455px;
  //       margin-right: 50px;

  //       .somos,
  //       .desarrollos {
  //         width: 100%;
  //         padding: 40px 0;
  //         img {
  //           width: 130px;
  //           height: 36px;
  //           margin-top: 30px;
  //         }
  //       }

  //       .desarrollos {
  //         .apps {
  //           .image {
  //             width: 80px;
  //             height: 80px;
  //             margin-bottom: 3rem;
  //             margin-right: 1rem;

  //             img {
  //               width: 100%;
  //               height: 100%;
  //             }

  //             &:hover {
  //               .hover-text,
  //               .hover-text2,
  //               .hover-text3,
  //               .hover-text4,
  //               .hover-text5 {
  //                 width: 280px;
  //                 height: 215px;
  //                 padding: 35px 25px;
  //                 top: 153%;
  //               }

  //               .hover-text {
  //                 left: 23%;
  //               }

  //               .hover-text2 {
  //                 left: 32%;
  //               }

  //               .hover-text3 {
  //                 left: 40%;
  //               }

  //               .hover-text4 {
  //                 left: 49%;
  //               }

  //               .hover-text5 {
  //                 left: 58%;
  //               }
  //             }
  //           }
  //         }
  //       }
  //     }

  //     .phone-content {
  //       .balloon {
  //         width: 250px;
  //         padding: 1rem;
  //       }

  //       img {
  //         width: 280px;
  //         height: 400px;
  //       }

  //       .small-balloon1 {
  //         width: 55px;
  //         height: 25px;
  //         right: 28%;
  //       }

  //       .small-balloon2 {
  //         width: 45px;
  //         height: 20px;
  //         right: 32%;
  //         bottom: -47%;
  //       }

  //       .small-balloon3 {
  //         width: 45px;
  //         height: 20px;
  //         right: 32%;
  //         bottom: -50%;
  //       }
  //       .small-balloon4 {
  //         width: 30px;
  //         height: 18px;
  //         right: 30%;
  //         bottom: -54%;
  //       }
  //     }
  //   }
  // }

  /*large devices*/
  @media screen and (max-width: 992px) {
    flex-direction: column-reverse;
    background-size: 100%;
    background-position: center center;

    .container {
      flex-direction: column;

      .switch {
        bottom: -5rem;
        left: 48%;
      }

      .main-content {
        max-height: 300px;
        padding-left: 0;
        margin-right: 0;

        .somos,
        .desarrollos {
          width: 100%;
          padding: 20px 0;

          h2 {
            font-size: $normal-font-size;
          }

          p {
            width: 90%;
            margin-top: 30px;
            font-size: $smaller-font-size;
          }
          img {
            width: 90px;
            height: 36px;
            margin-top: 10px;
          }
        }

        .desarrollos {
          .apps {
            .image {
              width: 80px;
              height: 80px;
              margin-bottom: 1rem;

              .hover-text,
              .hover-text2,
              .hover-text3,
              .hover-text4 {
                top: 1165px;
              }

              .hover-text5 {
                top: 1165px;
                right: 50px;
              }

              &:hover {
                .hover-text,
                .hover-text2,
                .hover-text3,
                .hover-text4 {
                  width: 300px;
                  height: 200px;
                  padding: 35px 25px;
                  top: 1280px;
                  margin-left: 0;
                }

                .hover-text5 {
                  width: 300px;
                  height: 200px;
                  padding: 35px 25px;
                  top: 1280px;
                  right: 50px;
                  margin-left: 0;
                }

                .stick {
                  visibility: hidden;
                }
              }
            }
          }
        }
      }

      .phone-content {
        margin-left: 18%;
        .balloon {
          width: 403px;
          padding: 1.5rem;
          top: 80px;

          p {
            font-size: $small-font-size;
          }
        }

        img {
          width: 267px;
          height: 300px;
        }

        .small-balloon1 {
          width: 50px;
          height: 25px;
          right: 70px;
          top: 90px;
        }

        .small-balloon2 {
          width: 40px;
          height: 20px;
          right: 100px;
          top: 110px;
        }

        .small-balloon3 {
          width: 40px;
          height: 20px;
          position: relative;
          right: 100px;
          top: 115px;
        }
        .small-balloon4 {
          width: 30px;
          height: 15px;
          right: 38px;
          top: 120px;
        }
      }
    }
  }

  /*medium devices*/
  @media screen and (max-width: 768px) {
  }

  @media screen and (max-width: 576px) {
    background-size: cover;
    .container {
      .main-content {
        max-height: 300px;
        padding-left: 0;
        margin-right: 0;

        .somos,
        .desarrollos {
          width: 100%;
          padding: 0 0;
          margin-left: 1rem;

          h2 {
            font-size: $small-font-size;
          }

          p {
            width: 90%;
            margin-top: 20px;
            font-size: $smaller-font-size;
          }
          img {
            width: 70px;
            height: 26px;
            margin-top: 10px;
          }
        }

        .desarrollos {
          h2 {
            margin-top: 2rem;
          }

          p {
            display: none;
          }

          .apps {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 1.5rem;

            .image {
              width: 80px;
              height: 80px;
              margin-bottom: 1rem;

              .hover-text,
              .hover-text2,
              .hover-text3,
              .hover-text4,
              .hover-text5 {
                top: 1165px;
                z-index: 100;
                left: 50%;
                transform: translateX(-50%);
              }

              &:hover {
                .hover-text,
                .hover-text2,
                .hover-text3,
                .hover-text4,
                .hover-text5 {
                  width: 300px;
                  height: 200px;
                  padding: 35px 25px;
                  top: 1180px;
                  margin-left: 0;
                  left: 50%;
                  transform: translateX(-50%);
                }
              }
            }
          }
        }
      }

      .phone-content {
        margin-left: 18%;
        .balloon {
          width: 200px;
          padding: 1rem;
          top: 50px;

          p {
            font-size: 11.3px;
          }
        }

        img {
          width: 160px;
          height: 200px;
        }

        .small-balloon1 {
          width: 30px;
          height: 15px;
          right: 30px;
          top: 65px;
        }

        .small-balloon2 {
          width: 25px;
          height: 13px;
          right: 40px;
          top: 68px;
        }

        .small-balloon3 {
          width: 25px;
          height: 13px;
          position: relative;
          right: 40px;
          top: 71px;
        }
        .small-balloon4 {
          width: 18px;
          height: 10px;
          right: 25px;
          top: 75px;
        }
      }
    }
  }

  /*small devices*/
  @media screen and (max-width: 350px) {
  }
}
